body {
    /*background: #eee;*/
}

body > .nav-container {
    position: fixed;
    height: 100%;
    background-color: rgb(232, 234, 239);
    padding-left: 0;
    padding-right: 0;
}

body > .nav-container > nav {
    position: absolute;
    margin-top: 40px;
    z-index: 99;
    font-size: .8rem;
    width: 80%;
    right: 0px;
    text-align: right;
}

body > .nav-container > nav > ul >li {
    height: 6rem;
    width: 5rem;
    opacity: .7;
    line-height: 6rem;
    color: rgb(52, 73, 94);
    border-bottom: 1px dashed #ccc;
    display: inline-block !important;
    text-align: center;
    padding: 0px 2px;
    margin: 4px 0px 4px 4px;
}

/*body > .nav-container > nav > ul > li.active a, body > .nav-container > nav > ul > li.active a:focus {
    background-color: #fff;
    background-color: inherit;
    font-weight: bold;
}*/

body > .nav-container > nav > ul > li > a {
    height: 90%;
    color: rgb(52, 73, 94);
    padding: 0 !important;
}

/*body > .nav-container > nav > ul > li > a:hover, nav > ul > li > a:focus {
    background-color: inherit !important;
}*/

.main-container {
    position: absolute;
    right: 0px;
    padding-left: 1px;
    padding-right: 1px;
    /*margin-left: 8.33333333%;*/
}

#main {
    z-index: 11;
    padding: 5px !important;
    margin: 0 !important;
    background-color: #fff;
    border: 1px solid #ccc;
}

#main > .container {
    min-height: 100px;
    width: 100%;
}

#main > .container:first-child {
    margin-top: 0 !important;
}

#main > .container:last-child {
    margin-bottom: 0 !important;
}

#instruct {
    height: 640px;
    text-align: center;
    vertical-align: middle; 
    background-color: rgb(79,89,108);
}

.instruct-name {
    height: 80%;
    color: #fff;
}

.instruct-name > h1 {
    position: relative;
    font-size: 10rem;
    top: 50%;
    margin-top: -5rem;
}

.instruct-detail {
    height: 20%;
    width: 60%;
    margin: 0 auto;
    color: #eee;
    text-align: left;
}

.instruct-detail pre {
    background-color: inherit;
    border: none;
    font-size: 2rem;
    text-align: center;
    color: inherit;
}

#aboutMe {
    font-size: 1.6rem;
    padding: 5em;
    margin: 0 auto;
    background-color: #eee;
}

#aboutMe pre {
    width: 80%;
    margin: 0 auto;
    background-color: inherit;
    border: inherit;
    font-size: inherit;
    line-height: 2em;
}

#aboutMe pre:first-letter {
    font-size: 3em;
    margin: 0.5em 0;
    float: left;
}

#jobExperiences {
    background-color: currentcolor;
}

#jobExperiences .job-timeline-contrainer {
    margin: 3rem auto;
    height: 600px;
    width: 80%;
}

#jobTimeline .content .text pre {
    background-color: inherit;
    overflow: hidden;
    line-height: 1.5em;
    white-space: pre-wrap;
}

#skill {
    background-color: lightslategray;
}

#skill .title {
    font-family: "微软雅黑";
    font-weight: bold;
    font-size: 4rem;
    margin-top: 2em;
    margin-left: 1em;
}

#skill > .container {
    width: 48%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none;
}

#skill > .personal-work {
    float: left;
    margin-left: 1em;
}

#skill > .personal-work ul li a {
    display: block;
    float: right;
    margin-right: 2em;
    cursor: pointer;
    color: inherit;
}

#skill > .personal-work ul ul {
    margin-top: 1em;
}


#skill > .personal-work li span {
    display: block;
    margin-right: 1em;
}

#skill > .skill-ability {
    float: right;
    margin-right: 1em;
}

#skill .skill-chart-contrainer {
    width: 400px;
    height: 400px;
    margin: 2rem auto 0;
}

#contact {
    height: 200px;
    background-color: rgb(26,188,156);
    color: #fff;
    text-align: center;
    padding-top: 3em;
}

#contact h5 a{
    color: #fff;
}